{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}

<div class="row mt-4">
    <div class="col-md-4 offset-md-4 mt-4">
        {% if success == 1 %}
        <div class="alert alert-success" role="alert">
            Register Successfull!
          </div>
        {% elif success == 0 %}
            <div class="alert alert-danger" role="alert">
                Register unsuccessfull!
            </div>
        {% endif %}
    </div>

    <div class="col-md-4 offset-md-4 mt-4">
        <div>
            <legend class="border-bottom mb-4">Register</legend>
            <form action="" method="post">
                <fieldset class="form-group">
                    <div class="form-group">
                        <div class="form-control-label">Username</div>
                        <input type="text" name="username" id="username" required>
                    </div>
                    <div class="form-group">
                        <div class="form-control-label">Password</div>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <div>
                        {% for error in errors %}
                    <li style="color:red;"><small>{{ error }}</small></li>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="form-control-label">Confirm Password</div>
                        <input type="password" name="confirm-password" id="confirm-password" required>
                    </div>
                </fieldset>
                
                <div class="form-group">
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}